#-------------------------------------------------------------------------------
# Collectors
#
# Purpose : Collects information from specific environments
#-------------------------------------------------------------------------------
#
#-------------------------------------------------------------------------------
# Override internals, by default, SQLlite memory is used, any SQLalchemy
# compatible database should work
#-------------------------------------------------------------------------------
#__internal__:
#   internal_database_string: sqlite:////Users/james/Desktop/sqlite.db
#   internal_database_string: mysql+pymysql://storage:storage@localhost/hds_cs_cli
#   
#   #-------------------------------------------------------------------------------
#   # Send data to other databases if desired
#   #-------------------------------------------------------------------------------
#   other_database_strings:
#      - mysql+pymysql://storage:storage@localhost/hds_cs_cli
#
#-------------------------------------------------------------------------------
# Collectors section
#-------------------------------------------------------------------------------
collectors:
#   #-------------------------------------------------------------------------------
#   # Hitachi Data Systems Command Suite - ServicePort, used if the data is to
#   # be collected direct, via the API port of Command Suite
#   #-------------------------------------------------------------------------------
#   hds_cs_serviceport:
#      #-------------------------------------------------------------------------------
#      # Server 1
#      #-------------------------------------------------------------------------------
#      - server : commandsuite.storage.ninja
#        api: 8.0.1
#        serial_numbers:
#           - 12345
#           - 45678
#        username: system
#        password: password
#
#      #-------------------------------------------------------------------------------
#      # Server 2
#      #-------------------------------------------------------------------------------
#      - server : commandsuite2.storage.ninja
#        api: 8.0.1
#        serial_numbers:
#           - 91011
#           - 12134
#        username: system
#        password: password
#
   #-------------------------------------------------------------------------------
   # Hitachi Data Systems Command Suite - CLI
   #-------------------------------------------------------------------------------
   hds_cs_cli:
      #-------------------------------------------------------------------------------
      # Server 1
      #-------------------------------------------------------------------------------
      - server : commandsuite.storage.ninja
        hicommand_binary: /Users/james/Desktop/DVMCli_linux/HiCommandCLI
        serial_numbers:
           - 12345
           - 45678
        username: system
        password: password
#      #-------------------------------------------------------------------------------
#      # Server 2
#      #-------------------------------------------------------------------------------
#      - server : commandsuite.storage.ninja
#        hicommand_binary: /Users/james/Desktop/DVMCli_linux/HiCommandCLI
#        serial_numbers:
#           - 91011
#           - 12134
#        username: system
#        password: password
#   #-------------------------------------------------------------------------------
#   # Hitachi Data Systems Command Suite - CLI Offline
#   #-------------------------------------------------------------------------------
#   hds_cs_cli_offline:
#      #-------------------------------------------------------------------------------
#      # Collection 1
#      #-------------------------------------------------------------------------------
#      - directory : offline_capture
#        serial_numbers:
#           - 12345
#           - 45678
#
#-------------------------------------------------------------------------------
# Outputs
#
# Purpose : Handler for outputing information
#-------------------------------------------------------------------------------
outputs:
   #-------------------------------------------------------------------------------
   # Sendmail HTML Email
   #-------------------------------------------------------------------------------
   sendmail_htmlemail:
      #-------------------------------------------------------------------------------
      # Email Information
      #-------------------------------------------------------------------------------
      - email_to: james@example.com
        email_subject: Storage Compliance Report

   #-------------------------------------------------------------------------------
   # Sendmail Text Email
   #-------------------------------------------------------------------------------
   sendmail_email:
      #-------------------------------------------------------------------------------
      # Email Information
      #-------------------------------------------------------------------------------
      - email_to: james@example.com
        email_subject: Storage Compliance Report

   #-------------------------------------------------------------------------------
   # Screen
   #-------------------------------------------------------------------------------
   screen: 
       - no_parameters: true

#-------------------------------------------------------------------------------
# Reports
# 
# Purpose : Specifies the reports that will be run
#-------------------------------------------------------------------------------
reports:
   hds_cs:
      #-------------------------------------------------------------------------------
      # HDS Storage Array
      # 
      # Purpose : Provides a report with firmware revisions and overviews
      #-------------------------------------------------------------------------------
      hds_cs_storagearray:
         - __title__: HDS Command Suite Storage Array

      #-------------------------------------------------------------------------------
      # HDS Command Suite Components
      # 
      # Purpose : Checks for HDS Components that are not in a valid state
      #-------------------------------------------------------------------------------
      hds_cs_invalid_components:
         - __title__: HDS Command Suite Invalid Components

      #-------------------------------------------------------------------------------
      # HDS Command Suite CLPR Compliance
      # 
      # Purpose : Checks that V-Vols in specific pools are assigned to appropriate
      #           Cache partitions
      #-------------------------------------------------------------------------------
      hds_cs_vvol_pool_clpr:
          #-------------------------------------------------------------------------------
          # Combinations of pool and cache partition
          #-------------------------------------------------------------------------------
          - dpPoolID: 31
            clprNumber: 1
            __title__: HDS Command Suite Pool to CLPR Compliance - Pool 31 Devices not assigned to CLPR 1
          #- dpPoolID: 2
          #  clprNumber: 2
          #  __title__: HDS Command Suite Pool to CLPR Compliance - Pool 2 Devices not assigned to CLPR 2
   
      #-------------------------------------------------------------------------------
      # HDS Command Suite Empty HSD
      # 
      # Purpose : Checks for empty Host Storage Domains
      #-------------------------------------------------------------------------------
      hds_cs_empty_hsd:
         - __title__: HDS Command Suite Pool - Empty HSD
   
      #-------------------------------------------------------------------------------
      # HDS Command Suite Unassigned V-Vol
      # 
      # Purpose : Checks for V-Vols that are not assigned to a host
      #-------------------------------------------------------------------------------
      hds_cs_unassigned_vvol:
         - __title__: HDS Command Suite Pool - Unassigned V-Vol
   
      #-------------------------------------------------------------------------------
      # HDS Command Suite Unbound V-Vol
      # 
      # Purpose : Checks for V-Vols that are not bound to a pool
      #-------------------------------------------------------------------------------
      hds_cs_unbound_vvol:
         - __title__: HDS Command Suite Pool - Unbound V-Vols
   
      #-------------------------------------------------------------------------------
      # HDS Command Suite Nickname Hostmode
      # 
      # Purpose : Checks for nicknames that do not correlate to a specific hostmode
      #-------------------------------------------------------------------------------
      hsd_cs_hsd_incorrect_hostmode:
          #-------------------------------------------------------------------------------
          # Combinations of nickname, hostmode, hostmodeOption
          #-------------------------------------------------------------------------------
          - nickname: lonws%
            hostMode: Windows Extension
            hostModeOption : 40
            __title__: HDS Command Suite Pool - Incorrect Hostmode for lonws Hosts - Expected Windows Extension, 40
          - nickname: lonux%
            hostMode: Solaris
            hostModeOption : 2;22
            __title__: HDS Command Suite Pool - Incorrect Hostmode for lonux Hosts - Expected Solaris, 2;22
          - nickname: lonlx%
            hostMode: Standard
            hostModeOption : 2
            __title__: HDS Command Suite Pool - Incorrect Hostmode for lonlx Hosts - Expected Standard, 2
          - nickname: lonvh%
            hostMode: VMware Extension
            hostModeOption : ''
            __title__: HDS Command Suite Pool - Incorrect Hostmode for VMware Hosts - Expected VMware Extension

      #-------------------------------------------------------------------------------
      # HDS Command Suite Split Devices
      # 
      # Purpose : Checks for devices that are split
      #-------------------------------------------------------------------------------
      hsd_cs_non_paired_rep:
          - __title__: HDS Command Suite Pool - Non Paired Devices
          
      #-------------------------------------------------------------------------------
      # HDS TrueCopySync on Path Group 0
      # 
      # Purpose : Checks for TrueCopySync Devices on Path Group 0 ( should be HUR )
      #-------------------------------------------------------------------------------
      hsd_cs_incorrect_rep_path:
          - __title__: HDS Command Suite Pool - TrueCopySync devices on Path Group 0
            replicationFunction: TrueCopySync
            remotePathGroupID: 0

      #-------------------------------------------------------------------------------
      # HDS Replicated Housekeeping
      # 
      # Purpose : Checks for devices using different source and destination
      #-------------------------------------------------------------------------------
      hsd_cs_rep_different_source_dest:
          - __title__: HDS Command Suite Pool - Replication Devices different for Source and Destination TrueCopySync
            replicationFunction: TrueCopySync
          - __title__: HDS Command Suite Pool - Replication Devices different for Source and Destination UniversalReplicator
            replicationFunction: UniversalReplicator
